.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #27272a;
    justify-content: space-between;
  }
  
  .header{
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    height: 2.5rem;
    width: auto;
   
  }
  
  .navList{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
  }
  
  .navItem {
    font-size: 1.5rem;
    transition: color 0.2s ease;
    cursor: pointer;
    
  }
  .navItem a {
    color:white;
    text-decoration: none;
  }
  
  .navItem a:hover {
    color: #c084fc;
  }
  .buttonLogin {
    padding: 10px 24px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, #9333ea, #06b6d4) 1;
    border-radius: 999px; /* pour effet très arrondi */
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 8px rgba(147, 51, 234, 0.4); /* léger glow */
  
   
  
  }
  
  .buttonLogin:hover {
    color: white;
    background: linear-gradient(to right, #7e22ce, #0891b2);
    box-shadow: 0 0 15px #9333ea, 0 0 25px #06b6d4; /* glow violet/bleu */
    border-image: none;
  }
  
  .loginText{
    color : #544AC4

  }

  

  